*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

:root{
    --element-dimension: 70px;
    --background: rgb(27, 36, 48);
    --app-menu: rgb(81, 85, 126);
    --light: rgba(220, 220, 220, 1);
    --gray: rgba(225, 225, 225, 0.5);

    --dark-red: rgb(159, 0, 56);
    --dark-blue: rgb(3, 0, 97);
    --purple: rgb(111, 0, 185);
    --faded-blue: rgb(81, 85, 126);
    --pink: rgb(156, 58, 153);
    --gold: rgb(227, 174, 0);
    --orange: rgb(185, 105, 0);
    --brown: rgb(116, 66, 0);
    --cyan: rgb(33, 134, 141);
    --mint: rgb(52, 146, 112);
    --green: rgb(44, 148, 56);
}

body{
    margin: 0;
    padding: 0;
    cursor: default;
    background-color: var(--background);
    overflow: hidden;
}

#preloader{
    background: rgb(0, 0, 0) url(images/loader.gif) no-repeat center center;
    background-size: 15%;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
}

.container{
    padding: 0;
    margin: 0 auto;
}

#periodic-table{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(18, var(--element-dimension));
    grid-template-rows: repeat(10, var(--element-dimension));
    grid-gap: 4px;
    justify-content: center;
}

.element{
    --row: auto;
    --column: auto;

    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    grid-row: var(--row);
    grid-column: var(--column);
    color: var(--light);
    transition: 0.3s ease;
}

.element:hover{
    opacity: 75%;
    transform: scale(0.9);
}

.element-name{
    font-size: 0.6rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.atomic-number{
    font-size: 0.6rem;
    position: absolute;
    top: -10%;
    left: 10%;
}

[data-category="noble gas"]{
    background: var(--dark-red);
}

[data-category="alkaline earth metal"]{
    background: var(--orange);
}

[data-category="diatomic nonmetal"]{
    background: var(--pink);
}

[data-category="alkali metal"]{
    background: var(--brown);
}

[data-category="transition metal"]{
    background: var(--faded-blue);
}

[data-category="post-transition metal"]{
    background: var(--purple);
}

[data-category="polyatomic nonmetal"]{
    background: var(--green);
}

[data-category="actinide"]{
    background: var(--cyan);
}

[data-category="lanthanide"]{
    background: var(--mint);
}

[data-category="metalloid"]{
    background: var(--dark-blue);
}

.popup-container{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0%;
    display: none;
}

.info-container{
    width: 700px;
    height: 800px;
    position: absolute;
    background-color: rgba(0, 0, 0);
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-box{
    border-bottom: 1px solid var(--gray);
    padding: 14px 15px;
}

.info-label{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: var(--gray);
}

.info-details{
    letter-spacing: 1px;
    font-size: 1rem;
    color: var(--light);
}

.info{
    color: var(--light);
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

.info.name{
    font-size: 2rem;
    padding: 20px;
}

.close{
    font-size: 1.2rem;
    color: var(--light);
    position: absolute;
    top: 0%;
    left: 95%;
    background: none;
    outline: none;
    opacity: 100%;
    transition: 0.3s ease;
}

.close:hover{
    opacity: 80%;
    cursor: pointer;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
}